.sidebar {
  width: 125px;
  background-color: #0b2545; /* navy blue */
  color: white;
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 12px;

  min-height: calc(100vh - 60px);
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar a {
  color: white;
  text-decoration: none;
}

/* hover effect */
.sidebar a:hover {
  color: #3b82f6;
}

/* logout button */
.sidebar button {
  margin-top: auto;

  background: none;
  border: none;

  color: white;
  cursor: pointer;
}

.sidebar button:hover {
  color: #3b82f6;
}